<!DOCTYPE html>
<html>
<head>
  <title>My Home Page</title>
  <style>
    body {background-color: powderblue;}
    h2 {color: green;}    
    p {color: blue;}
  </style>
</head>
<body>

<h2 class="ruby">Ruby on Rails</h2>

<p>This is the main page of the 'Ruby on Rails Course'.</p>

<h2 class="content">Course Contents</h2>
<p>The course content is:</p>

<ul>
  <li>Introduction</li>
  <li>Ruby</li>
  <li>CRUD</li>
  <li>Styling</li>
  <li>Associations</li>
  <li>Authentication Systems</li>
  <li>Many-to-Many Associations</li>
  <li>Tasks</li>
</ul>  

<h2 class="footer">Contact Information</h2>
<p>Please contact us at the following number: <br> +27 808 1234</p>


<%= link_to 'About', about_path %>

</body>
</html>